<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- URL TITLE -->
  <title>2D Structural Analysis</title>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/documentation.css">
</head>

<body>
  <nav id="top-bar" class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">2D Structural Analysis</a>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/documentation">Documentation</a>
    </div>
  </nav>

  <main>
    <h1>Introduction</h1>
    <p>
      2D Structural Analysis is a tool for calculating internal forces and displacements of a 
      two-dimensional structure. The heart of the application is a program that implements the matrix 
      analysis method of calcuating internal forces and displacement of structures.
    </p>
    <h1>How to use this software</h1>
    <h2>Units</h2>
    <p>
      The application is unitless. It can be used with SI units or imperial units. The user must keep 
      track of the units they use and be consistent in order to get reliable results. Typically, SI 
      units will be Newtons (N) and millimetres (mm). In imperial units, the units used could be pounds 
      (lbs) and inches (in).
    </p>
    <p>
      The results will also be reported in the same units that were used in the input. For example, 
      forces inputted in Newtons will result in reactions reported in Newtons.
    </p>
    <h2>General Input Section</h2>
    <img class="doc-images" src="../../docs/documentation_images/general_section.png">
    <p>
      This  
    </p>
    <h2>Properties Input Section</h2>
    <p>
      This  
    </p>
    <h2>Joint Input Section</h2>
    <p>
      This  
    </p>
    <h2>Member Input Section</h2>
    <p>
      This  
    </p>
    <h2>Member Input Section</h2>
    <p>
      This  
    </p>
    <h1>License</h1>
    <p>
      This software is licensed under the MIT License.
    </p>
  </main>

</body>
</html>