<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">
  <!-- URL TITLE -->
  <title>2D Structural Analysis</title>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
  <header>
    <% include ./partials/_navbar %>
  </header>

  <main>
    <div class="error">
      <h2>There was an error running the program.</h2>
      <br>
      <h3>Press the back button to continue entering information or to edit input information.</h3>
      <br>
      <h3>See documentation for a description of the format of input data.</h3>
    </div>
  </main>


</body>
</html>