<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- URL TITLE -->
	<title>2D Structural Analysis</title>
	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="/styles/reset.css">
	<link rel="stylesheet" href="/styles/main.css">
  <!-- Script JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
	<nav id="top-bar" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">2D Structural Analysis</a>
	</nav>

	<main>
		<form class="form flex-container" action="/submit" method="POST">
			
			<div class="form-group input-group-sm mb-3">
				<br>
				<h3 id="input-header">General Information</h3>
				<label>No. of joints:</label>
				<input id="input-style" class="form-control" type="number" name="numJoints">
				<label>No. of members:</label>
				<input id="input-style" class="form-control" type="number" name="numMembers">
				<label>No. of Eleastic modulus:</label>
				<input id="input-style" class="form-control" type="number" name="numElasticModulus">
				<label>No. of X-Sectional Areas:</label>				
				<input id="input-style" class="form-control" type="number" name="numAreas">
				<label>No. of Moment of Inertia:</label>				
				<input id="input-style" class="form-control" type="number" name="numMomentOfInertia">
				<label>No. of Load Cases:</label>				
				<input id="input-style" class="form-control" type="number" name="numLoadCases">
			</div>

			<div class="form-group input-group-sm mb-3">
				<br>
				<h3 id="input-header">Joint & Properties Input</h3>
				<label>Joint Data: <br> (Joint No, X-coord, Y-coord,<br> X-rest, Y-rest, Rot-rest)</label>
				<textarea id="input-area" class="form-control" type="number" name="Joints"></textarea>
				<label>Elastic Modulus (No., value):</label>
				<textarea id="input-area" class="form-control" type="number" name="ElasticMods"></textarea>
				<label>Area (No., value):</label>
				<textarea id="input-area" class="form-control" type="number" name="Areas"></textarea>
				<label>Moment of Inertia (No., value):</label>
				<textarea id="input-area" class="form-control" type="number" name="MoI"></textarea>
			</div>

			<div class="form-group input-group-sm mb-3">
				<br>
				<h3 id="input-header">Member Input & Load Input</h3>
				<label>Member Data: <br> (Member No., Joint start, Joint end, <br> ElasticMod No., Area No., MoI No.)</label>
				<textarea id="input-area" class="form-control" type="number" name="Members"></textarea>
				<label>Loads: <br> (No. Joint Loads, No. Member Loads):</label>
				<input id="input-style" class="form-control" type="number" name="Loads"></input>
				<label>Load Input: <br> (Joint No., X value, Y value, Moment) <br> (Member No., X-dist, PL, UDL)</label>
				<textarea id="input-area" class="form-control" type="number" name="LoadData"></textarea>
				<button id="analize" type="submit" class="btn btn-success">Analyze structure</button>
			</div>


		</form>

		<div class="notes">
			<div>
				<h4>Notes:</h4>
				<p>
					This is where I'll explain how the input information works.<br>
					Structural Analysis
				</p>
				<br>
				<h4>Sample input file:</h4>
				<p>
					5 4 1 1 1 1<br>
					1 0 288 1 1 1<br>
					2 150 288 0 0 0<br>
					3 300 288 0 0 0<br>
					4 342 144 0 0 0<br>
					5 384 0 1 1 1<br>
					1 29000<br>
					1 14.7<br>
					1 800<br>
					1 1 2 1 1 1<br>
					2 2 3 1 1 1<br>
					3 3 4 1 1 1<br>
					4 4 5 1 1 1<br>
					1 2<br>
					3 0 0 960<br>
					1 0 0 -01667<br>
					2 0 0 -01667<br>
				</p>
				<br>
			</div>
		</div>

	</main>

</body>
</html>