<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- URL TITLE -->
	<title>2D Structural Analysis</title>
	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="/styles/reset.css">
	<link rel="stylesheet" href="/styles/main.css">
  <!-- Script JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
	<nav id="top-bar" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">2D Structural Analysis</a>
	</nav>

	<main>
		<form class="form flex-container" action="/submit" method="POST">
			
			<div class="form-group input-group-sm mb-3">
				<br>
        <h3>Input structure data</h3>
				<input class="form-control" type="number" name="numJoints" placeholder="numJoints" style="width: 300px; margin: 1em 0em">
				<input class="form-control" type="number" name="numMembers" placeholder="numMembers" style="width: 300px; margin: 1em 0em">
        <input class="form-control" type="number" name="numElasticModulus" placeholder="numElasticModulus" style="width: 300px; margin: 1em 0em">
        <input class="form-control" type="number" name="numAreas" placeholder="numAreas" style="width: 300px; margin: 1em 0em">
        <input class="form-control" type="number" name="numMomentOfInertia" placeholder="numMomentOfInertia" style="width: 300px; margin: 1em 0em">
        <input class="form-control" type="number" name="numLoadCases" placeholder="numLoadCases" style="width: 300px; margin: 1em 0em">
			</div>

			<div class="form-group input-group-sm mb-3">
				<br>
				<h3>Other information</h3>
				<input class="form-control" type="number" name="numJoints" placeholder="numJoints" style="width: 300px; margin: 1em 0em">
				<input class="form-control" type="number" name="numMembers" placeholder="numMembers" style="width: 300px; margin: 1em 0em">
				<input class="form-control" type="number" name="elasticModullus" placeholder="elasticModullus" style="width: 300px; margin: 1em 0em">
				<input class="form-control" type="number" name="elasticModullus" placeholder="elasticModullus" style="width: 300px; margin: 1em 0em">
				<input class="form-control" type="number" name="elasticModullus" placeholder="elasticModullus" style="width: 300px; margin: 1em 0em">
				<input class="form-control" type="number" name="elasticModullus" placeholder="elasticModullus" style="width: 300px; margin: 1em 0em">
				<input class="form-control" type="number" name="elasticModullus" placeholder="elasticModullus" style="width: 300px; margin: 1em 0em">
				<input class="form-control" type="number" name="elasticModullus" placeholder="elasticModullus" style="width: 300px; margin: 1em 0em">
				<input class="form-control" type="number" name="elasticModullus" placeholder="elasticModullus" style="width: 300px; margin: 1em 0em">
			</div>

			<div class="form-group input-group-sm mb-3">
				<br>
				<h3>Other information</h3>
				<input class="form-control" type="number" name="numJoints" placeholder="numJoints" style="width: 300px; margin: 1em 0em">
				<input class="form-control" type="number" name="numMembers" placeholder="numMembers" style="width: 300px; margin: 1em 0em">
				<input class="form-control" type="number" name="elasticModullus" placeholder="elasticModullus" style="width: 300px; margin: 1em 0em">
				<input class="form-control" type="number" name="elasticModullus" placeholder="elasticModullus" style="width: 300px; margin: 1em 0em">
				<input class="form-control" type="number" name="elasticModullus" placeholder="elasticModullus" style="width: 300px; margin: 1em 0em">
				<input class="form-control" type="number" name="elasticModullus" placeholder="elasticModullus" style="width: 300px; margin: 1em 0em">
				<input class="form-control" type="number" name="elasticModullus" placeholder="elasticModullus" style="width: 300px; margin: 1em 0em">
				<input class="form-control" type="number" name="elasticModullus" placeholder="elasticModullus" style="width: 300px; margin: 1em 0em">
				<input class="form-control" type="number" name="elasticModullus" placeholder="elasticModullus" style="width: 300px; margin: 1em 0em">
				<button type="submit" class="btn btn-secondary">Analyze structure</button>
			</div>
			
    </form>
	</main>

</body>
</html>