<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- URL TITLE -->
	<title>2D Structural Analysis</title>
	<link rel="stylesheet" href="/public/styles/main.css">
  <!-- Script JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/public/scripts/app.js"></script>
</head>

<body>
	<nav id="top-bar" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a id="title-link" class="navbar-brand" href="/">2D Structural Analysis</a>
	</nav>
</body>
<main>
	<p>TEST</p>
</main>