<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- URL TITLE -->
  <title>2D Structural Analysis</title>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/main.css">
  <!-- Script JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <nav id="top-bar" class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">2D Structural Analysis</a>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/documentation">Documentation</a>
    </div>
  </nav>

  <main>
    <div id="results-content">
      <p id="result-frame"><iframe src="data_out.txt" height="600" width="650"></iframe></p>
    </div>
  </main>


</body>
</html>