<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">
  <!-- URL TITLE -->
  <title>2D Structural Analysis</title>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/results.css">
  <!-- Script JS -->
  <script type="module" src="../scripts/output-data.js"></script>
</head>

<body>
  <header>
    <% include ./partials/_navbar %>
  </header>

  <main id="main-container">
    <h2 class="section-header">Input Data</h2>
    <svg xmlns="http://www.w3.org/2000/svg" id="input-diagram">
      <rect width="100%" height="100%" fill="#eee"></rect>
    </svg>

    <h2 class="section-header">Internal Forces Diagram</h2>
    <svg xmlns="http://www.w3.org/2000/svg" id="internal-forces-diagram">
      <rect width="100%" height="100%" fill="#eee"></rect>
    </svg>

    <h2 class="section-header">Displacement Diagram</h2>
    <svg xmlns="http://www.w3.org/2000/svg" id="displacements-diagram">
      <rect width="100%" height="100%" fill="#eee"></rect>
    </svg>

    <h2 class="section-header">Reactions Diagram</h2>
    <svg xmlns="http://www.w3.org/2000/svg" id="reactions-diagram">
      <rect width="100%" height="100%" fill="#eee"></rect>
    </svg>
  </main>

</body>
</html>