<header>
    <nav id="top-bar" class="navbar fixed-top navbar-dark bg-primary">
        <a class="navbar-brand" href="/">2D Structural Analysis</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/documentation">Documentation</a>
        </div>
    </nav>
</header>
